.classes {
  padding: 50px;
  direction: rtl;

  > button:first-of-type {
    position: absolute;
    left: 30px;
    top: 88px;
    font-family: vazir;
    padding: 10px 20px;
    background-color: rgb(23, 232, 62);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
  }
  > button:first-of-type:hover {
    background-color: rgb(23, 136, 44);
    color: #fff;
  }

  .filter-side {
    margin-top: 40px;

    label,
    select,
    button {
      font-family: vazir;
    }

    select {
      margin-right: 10px;
      margin-left: 30px;
      border-radius: 10px;
      padding: 5px;
      border: 1px solid rgb(181, 181, 181);
    }

    button {
      padding: 7px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
    }
    button:hover {
      background-color: rgb(213, 213, 213);
    }
  }

  > h3 {
    font-family: vazir;
    margin-top: 45px;
  }

  > table {
    margin-top: 30px;
    font-family: vazir;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: center;
      padding: 8px;
    }

    td {
      font-size: 14px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: rgb(215, 215, 215);
    }

    th {
      background-color: #04aa6d;
      color: white;
    }

    tbody tr td:last-of-type a {
      text-decoration: none;
      margin-left: 10px;
      color: #fff;
      background-color: rgb(49, 73, 128);
      border-radius: 10px;
      font-size: 12px;
      padding: 0 5px;
    }

    tbody tr td:last-of-type svg {
      cursor: pointer;
    }

    tbody tr td:last-of-type svg:first-of-type {
      margin-left: 10px;
    }
  }
}

.class-submit-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 340px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
  direction: rtl;
  z-index: 11;

  .close {
    color: #aaa;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
  }
  .close:hover {
    color: #000;
  }

  form {
    width: 770px;
    margin-right: 20px;

    label {
      font-family: vazir;
      font-size: 14px;
      margin-top: 15px;
      margin-left: 10px;
    }

    h4 {
      font-family: vazir;
    }

    .group {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      position: relative;

      input[name="firstName"] {
        margin-right: 15px;
      }

      input,
      select {
        width: 250px;
        padding: 7px;
        border-radius: 5px;
        font-family: vazir;
        border: 1px solid rgb(149, 149, 149);
      }

      .error {
        color: red;
        font-family: vazir;
        font-size: 12px;
        position: absolute;
        top: 42px;
        right: 80px;
      }
    }

    .group select {
      width: 265px;
    }

    button {
      font-family: vazir;
      padding: 9px 50px;
      border: none;
      background-color: rgb(64, 247, 146);
      border-radius: 10px;
      margin-right: 78%;
      cursor: pointer;
      margin-top: 45px;
    }
  }
}

.class-schedule {
  padding: 50px;
  direction: rtl;

  > h3 {
    font-family: vazir;
    margin-top: 40px;
  }

  table {
    margin-top: 30px;
    font-family: vazir;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: center;
      padding: 8px;
      border: 1px solid rgb(167, 167, 167);
      width: 100px;
    }

    td {
      font-size: 14px;
      height: 50px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    th {
      background-color: #0494aa;
      color: white;
    }
  }

  .schedule {
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 20px;
    font-family: vazir;
    user-select: none;
    position: relative;

    .group {
      display: flex;
      justify-content: space-between;

      div span:nth-child(2) {
        font-size: 13px;
        margin-right: 7px;
      }
    }

    .group:not(.top .group:first-of-type) {
      margin-bottom: 15px;
    }
    .down .group:first-of-type {
      margin-top: 15px;
    }

    //
    .down .group:first-of-type div:nth-child(2) span:nth-child(2) {
      right: 29vw;
    }
    //

    .down .group:last-of-type {
      div:nth-child(4) {
        span:nth-child(2) svg:not(:last-of-type) {
          margin-left: 8px;
        }
      }
    }
  }

  /*     table,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    table td, table th {
        width: 100px;
        text-align: center;
    }
    table td {
      height: 40px;
    }
    table {
      direction: rtl;
    }
    thead tr{
        background-color: rgb(250, 250, 11);
    }
    .not-stable{
      background-color: rgb(252, 215, 178);
    } */
}
