.courses {
  padding: 50px;
  direction: rtl;

  > button:first-of-type {
    position: absolute;
    left: 50px;
    top: 88px;
    font-family: vazir;
    padding: 10px 20px;
    background-color: rgb(23, 232, 62);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s;
  }
  > button:first-of-type:hover {
    background-color: rgb(23, 136, 44);
    color: #fff;
  }

  .filter-side {
    margin-top: 40px;

    label,
    select,
    button {
      font-family: vazir;
    }

    select {
      margin-right: 10px;
      margin-left: 30px;
      border-radius: 10px;
      padding: 5px;
      border: 1px solid rgb(181, 181, 181);
    }

    button {
      padding: 7px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      svg {
        margin-right: 5px;
      }
    }
    button:hover {
      background-color: rgb(213, 213, 213);
    }
  }

  > h3 {
    font-family: vazir;
    margin-top: 45px;
  }

  > table {
    margin-top: 30px;
    font-family: vazir;
    border-collapse: collapse;
    width: 100%;

    th,
    td {
      text-align: center;
      padding: 8px;
    }

    td {
      font-size: 14px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    tr:hover {
      background-color: rgb(215, 215, 215);
    }

    th {
      background-color: #04aa6d;
      color: white;
    }

    tbody tr td:last-of-type svg {
      cursor: pointer;
    }

    tbody tr td:last-of-type svg:first-of-type {
      margin-left: 10px;
    }
  }
}

.course-submit-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 800px;
  height: 500px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh;
  direction: rtl;
  z-index: 11;

  .close {
    color: #aaa;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
  }
  .close:hover {
    color: #000;
  }

  form {
    width: 770px;
    margin-right: 20px;

    label {
      font-family: vazir;
      font-size: 14px;
      margin-top: 15px;
      margin-left: 10px;
    }

    h4 {
      font-family: vazir;
    }

    .group {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      position: relative;

      input,
      select {
        width: 250px;
        padding: 7px;
        border-radius: 5px;
        font-family: vazir;
        border: 1px solid rgb(149, 149, 149);
      }

      .error {
        color: red;
        font-family: vazir;
        font-size: 12px;
        position: absolute;
        top: 42px;
        right: 95px;
      }
    }

    .group:nth-child(2){
        padding-left: 7px;
    }
    .group:nth-child(2) div:nth-child(1) {
        margin-right: 7px;
    }
    .group:nth-child(5) {
      padding-right: 17px;
    }

    .group select {
      width: 265px;
    }

    button {
      font-family: vazir;
      padding: 9px 50px;
      border: none;
      background-color: rgb(64, 247, 146);
      border-radius: 10px;
      margin-right: 78%;
      cursor: pointer;
      margin-top: 45px;
    }
  }
}
