@font-face {
  font-family: vazir;
  src: url(./Fonts/Vazir-Regular-FD.ttf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.vazir-font {
  font-family: vazir;
}

.Toastify__toast {
  font-family: vazir !important;
  font-size: 13.5px;
}

.swal2-container h2,
.swal2-container button,
#swal2-html-container {
  font-family: vazir !important;
}

.swal2-container h2 {
  font-size: 22px;
}

#swal2-html-container {
  color: red;
  font-size: 14px;
}

.bgc-loading-modal {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(127, 120, 120, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-loading-modal {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #000000;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.bgc-modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.pagiMagi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  //border: 1px solid rgb(193, 193, 193);
  background-color: rgb(236, 236, 236);

  ul {
    li {
      display: inline-block;

      a {
        background-color: rgb(202, 202, 202);
        padding: 7px 12px 7px 12px;
        margin-right: 5px;
        border-radius: 50%;
        cursor: pointer;
        user-select: none;
      }
    }

    li.disabled a {
      cursor: no-drop;
    }

    li.selected a {
      color: #fff;
      background-color: rgb(20, 13, 63);
    }
  }
}

// its about odd or even weekly schedules.
.not-stable {
  background-color: rgb(252, 215, 178);
}

.has-no-row {
  color: rgb(234, 0, 0);
  padding: 30px !important;
}
.has-no-content {
  color: rgb(234, 0, 0);
  text-align: center;
  font-family: vazir;
}

.no-permission{
  position: absolute;
  top: 100px;
  color: red;
  direction: rtl;
  font-family: vazir;
  margin-left: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .Toastify__toast {
    margin-right: 130px;
    margin-top: 20px;
  }
}
